# DATABASE (SQL server)

### Important step to work on any database
***

In [ ]:
# step-1) first we need to install module 
# step-2) we have to make connection with database. (for doing this so, (.connect) is a method)
# step-3) to communecate with data in database , we have to make special object that name is cursor, so cursor is resposible for to excute our query. it has many methods
# step-4) after doing opertion in database we make sure to close cursor object and close connection with database

In [2]:
!pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.30-cp39-cp39-win_amd64.whl (67 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.30

WARNING: You are using pip version 20.2.3; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\users\dell\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
# for Database like oracle, sql server, mysql pyodbc is a best library
import pyodbc

In [ ]:
# How to make connection with database
# step-1:-we have to pass sql driver in {} bracket
        # pyodbc contains many driver
        # to check all driver of in pyodbc libary (pyodbc.drivers() is a method)
#step-2:- we have to pass server name, in order to get our server name ----> open ssms->copy server name(top in small window)
#step-3:- now we have to pass database name
#step-4:- in Tursted_connection we have to pass 'yes'
#step-5:- all above thing will pass in string sprated by (;)
#example:-'Driver={SQL Server};Server=DESKTOP-2CDQJ66\SQLEXPRESS;Database=Stock_Market_K;Trusted_Connection=yes;'

In [47]:
connection_string='Driver={SQL Server};Server=DESKTOP-2CDQJ66\SQLEXPRESS;Database=Stock_Market_K;Trusted_Connection=yes;'
# insertQuery="insert into [Share Details] values ('%s','%s',%d)"
# insertQuery="insert into [Share Details] values ('{}','{}',{})"
# deleteQuery="Delete from [Share Details] where [Share name]='dddds'"
updateQuery="UPDATE [Share Details] set [Market cap]=15000 where [Share name]='TCS'"
try:
    con=pyodbc.connect(connection_string)
    cursor=con.cursor()
#     cursor.execute(insertQuery %('wipro','IT',1600))
#     cursor.execute(insertQuery.format('dddds','daT',1600))
#     cursor.execute(deleteQuery)
    cursor.execute(updateQuery)
    cursor.commit()
# except ProgrammingError:
#     print("sql m error aa gyi")
finally:
    cursor.close()
    con.close()
    print('close')

close

In [83]:
connection_string='Driver={SQL Server};Server=DESKTOP-2CDQJ66\SQLEXPRESS;Database=Stock_Market_K;Trusted_Connection=yes;'
query="Select * from [Share Details]"
try:
    con=pyodbc.connect(connection_string)
    cursor=con.cursor()
    cursor.execute(query)
#     df=cursor.fetchone()
#     df=cursor.fetchmany(3)
    df=cursor.fetchall()
    print(df)
    
finally:
    cursor.close()
    con.close()
    print('close')

[('Aarti Drugs', 'Aarti Drugs', 714), ('Angel Broking', 'Angel Broking', 426), ('Anik Industries', 'Anik Industries', 11), ('Beardsell', 'Beardsell', 12), ('Coforge', 'Coforge', 2892), ('Dr Lal Pathlabs', 'Dr Lal Pathlabs', 2836), ('Emmbi Industries', 'Emmbi Industries', 86), ('Essar Shipping', 'Essar Shipping', 9), ('Geekay Wires', 'Geekay Wires', 85), ('GTL', 'GTL', 6), ('HCL', 'IT', 600), ('Indraprastha Medical', 'Indraprastha Medical', 83), ('ITC', 'FMCG', 10000), ('Mastek', 'Mastek', 1619), ('Panache Digilife', 'Panache Digilife', 57), ('R Systems Intl.', 'R Systems Intl.', 125), ('SBIN', 'Bank', 20000), ('Shreyas Shipping', 'Shreyas Shipping', 97), ('Subex', 'Subex', 53), ('Tainwala Chem&Plast.', 'Tainwala Chem&Plast.', 66), ('TCS', 'IT', 15000), ('Tokyo Plast Intl.', 'Tokyo Plast Intl.', 70), ('Vaswani Industries', 'Vaswani Industries', 12), ('wipro', 'IT', 2000)]
close

In [86]:
import pandas
lst=[]
for i in df:
    l=[]
    l.append(i[0])
    l.append(i[1])
    l.append(i[2])
    lst.append(l)
data=pandas.DataFrame(lst)
data

                       0                     1      2
0            Aarti Drugs           Aarti Drugs    714
1          Angel Broking         Angel Broking    426
2        Anik Industries       Anik Industries     11
3              Beardsell             Beardsell     12
4                Coforge               Coforge   2892
5        Dr Lal Pathlabs       Dr Lal Pathlabs   2836
6       Emmbi Industries      Emmbi Industries     86
7         Essar Shipping        Essar Shipping      9
8           Geekay Wires          Geekay Wires     85
9                    GTL                   GTL      6
10                   HCL                    IT    600
11  Indraprastha Medical  Indraprastha Medical     83
12                   ITC                  FMCG  10000
13                Mastek                Mastek   1619
14      Panache Digilife      Panache Digilife     57
15       R Systems Intl.       R Systems Intl.    125
16                  SBIN                  Bank  20000
17      Shreyas Shipping      Shreyas Shipping     97
18                 Subex                 Subex     53
19  Tainwala Chem&Plast.  Tainwala Chem&Plast.     66
20                   TCS                    IT  15000
21     Tokyo Plast Intl.     Tokyo Plast Intl.     70
22    Vaswani Industries    Vaswani Industries     12
23                 wipro                    IT   2000

In [17]:

import pandas,openpyxl,pyodbc

df=pandas.read_excel(r"C:\Users\DELL\Desktop\kPython RND folder\abhil.xlsx")
# for i in range(2,19):
#     print(df.iloc[i-1,0],df.iloc[i-1,1],df.iloc[i-1,2],df.iloc[i-1,3],df.iloc[i-1,4],df.iloc[i-1,5],df.iloc[i-1,6])
query="insert into [tblStudent] values ({},'{}','{}','{}',{},{},'{}')"

try:
    connection_string='Driver={SQL Server};Server=DESKTOP-2CDQJ66\SQLEXPRESS;Database=Stock_Market_K;Trusted_Connection=yes;'
    con=pyodbc.connect(connection_string)
    cursor=con.cursor()
    for i in range(2,18):
        cursor.execute(query.format(df.iloc[i-1,0],df.iloc[i-1,1],df.iloc[i-1,2],df.iloc[i-1,3],df.iloc[i-1,4],df.iloc[i-1,5],df.iloc[i-1,6]))
    cursor.commit()

finally:
    cursor.close()
    con.close()
    print('close')

close

In [12]:
df

,1,Ambica Agarbathies,a@d.com,Male,25,66,Delhi,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,2.0,Angel Broking,a@h.com,Female,24.0,32.0,Hydrabad,NaN,NaN,Ambica Agarbathies,Ambica Agarbathies,19.90
1,3.0,Tainwala Chem&Plast.,t@m.com,Male,27.0,75.0,Mumbai,NaN,NaN,Angel Broking,Angel Broking,426.85
2,4.0,Geekay Wires,g@c.com,Female,18.0,52.0,Chennai,NaN,NaN,Tainwala Chem&Plast.,Tainwala Chem&Plast.,66.95
3,5.0,Beardsell,b@r.com,Male,19.0,78.0,Ranchi,NaN,NaN,Geekay Wires,Geekay Wires,85.25
4,6.0,Mastek,dkfjd,Female,18.0,95.0,Mumbai,NaN,NaN,Beardsell,Beardsell,12.70
...,...,...,...,...,...,...,...,...,...,...,...,...
850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cantabil Retail,Cantabil Retail,370.60
851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFGL Refractories,IFGL Refractories,379.45
852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Varun Beverages,Varun Beverages,999.95
853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PDS Multinational,PDS Multinational,685.00
854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dr Lal Pathlabs,Dr Lal Pathlabs,2836.05