# List Comprehension
***

In [3]:
l1=[x for x in range(10)]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#single condition
l2=[x*2 for x in range(10) if x%2==0]
l2

[0, 4, 8, 12, 16]

In [7]:
#Multiple condition
l3=[x*3 for x in range(10) if x>4 if x%3==0 if x<8]
l3

[18]

In [8]:
#Multiple for
l4=[x*y for x in range(3) for y in range(5)]
l4

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8]

# lambda

In [9]:
a=lambda x:x+5
a(2)

7

In [10]:
a=lambda x,y:x+y
a(2,3)

5

In [13]:
#lambda with condition
a=lambda x,y: x if x>y else y
a(200,300)

300

# Filter

In [ ]:
#syntex: filter (function,sequnce)

In [17]:
def is_even(no):
    if no%2==0:
        return no
l=filter(is_even,range(11))
print(type(l))
for i in l:
    print (i)

<class 'filter'>
2
4
6
8
10

In [18]:
l=filter(lambda x:x%2==0,range(11))
print(list(l))

[0, 2, 4, 6, 8, 10]

# Map

syntex: map(function,sequence)
return map object itretor

In [19]:

def double(x):
    return x*2

l=list(map(double,range(1,11)))
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
l=list(map(lambda x:x*2,range(1,11)))
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
#it will work on two squence
l1=[1,2,3]
l2=[10,20,30]
l=list(map(lambda x,y:x*y,l1,l2)) # here no. of elements in each squence should be equal if not the it return only lowest no of squence 
l

[10, 40, 90]

In [23]:
l1=[1,2,3,4,5,6]
l2=[10,20,30,40]
l=list(map(lambda x,y:x*y,l1,l2)) # here no. of elements in each squence should be equal if not the it return only lowest no of squence 
l

[10, 40, 90, 160]